{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {% static 'css/styles.css' %} ">
    <title>HomeFina</title>
</head>

<body>
    <div class="index-page">
        <div class="text">
            <h1>Welcome to HomeFina</h1>
            <p>Where you can track all your expenses, devices, members in your home</p>
        </div>
        <a href="{% url 'user_auth:sign_in' %}">Start</a>
    </div>
</body>

</html>