{% extends 'core/base.html' %} {% block title %}Members{% endblock %}{% block content %}
<div class="container">
    <h1 class="title">Members</h1>
    <div class="panel-container">
        <div class="members">
            {% for member in members %}
            <div class="member">
                <img src="" alt="">
                <p class="name">{{member.user.username}}</p>
                <p class="kindred">{{member.kindred}}</p>
                {% if member.is_family_admin %}
                <p class="is_family_admin">Admin</p>
                {% else %}
                <p class="type">Not admin</p>
                {% endif %}
                <a href="#" class="btn btn-edit">Edit member</a>
                <a href="#" class="btn btn-delete">Delete member</a>
            </div>
            {% endfor %}
        </div>
    </div>
    <a href="#" class="btn-add btn">Add member</a>
</div>
{% endblock %}